.skillBg {
  /* background-image: url("../../image/Blur-Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: #273c75;
  
}
